* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;  
}

a {
    text-decoration: none;
    color: #322C2B;
}

.head {
    background-color: #E4C59E;
    height: 75px;
    padding: 1em 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.head :first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.partl {
    list-style: none;
    font-size: 1.3em;
    padding: 1rem;
    border-radius: 0.5rem;
}

.partl:hover {
    background-color: rgba(55, 55, 55, 0.171);
}

.addbook {
    font-size: 1.5em;
}

.addbook :first-child {
    color: #803D3B;
}

.main {
    max-width: 800px;
    margin: 0 auto;
    
}

.main > :first-child {
    padding: 0.5em;
    font-size: 2rem;
}

.books {
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    gap: 2em 1em;
}

.book {
    color: #322C2B;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFF5E0;
    padding: 1em;
    height: 30vh;
    border-radius: 0.5em;
    box-shadow: 1px 23px 15px rgba(0, 0, 0, 0.05);
}

.book > p {
    font-size: 1.5em;
    margin-top: auto;
}
.img {
    width: 100%;
    height: 200px;
    border-bottom: solid 2px black;
}
.cover {
    width: 100%;
    height: 200px;
    object-fit: scale-down;
}

#plus {
    border-radius: 0.5rem;
    background-color: white;
    box-shadow: none;
    font-size: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#plus > p {
    margin: 0;
}

#plus:hover {
    background-color: rgba(127, 127, 127, 0.15);
}

.modal-back {
    top: 0;
    bottom: 0;
    display: none;
    background-color: rgba(87, 87, 87, 0.250);
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

.modal-active {
    padding: 2em;
    border-radius: 0.5em;
    background-color: white;
    display: none;
    position: absolute;
    top: calc(50% - 250px);
    left: calc(50% - 250px);
    width: 500px;
    height: 500px;
}

.cross {
    position: absolute;
    padding: 1em;
    top: 1em;
    right: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#cross {
    position: absolute;
    width: 1em;
    height: 1em;
}

.textAdd {
    font-size: x-large;
}

.form {
    height: 90%;
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.form-example {
    gap: 0.5em;
    display: flex;
    flex-direction: column;
}

.form-example > input {
    height: 2em;
}

.radioread {
    margin-top: 0.5em;
    border: none;
    display: flex;
    gap: 2em;
}

#submit {
    margin-top: auto;
    width: 10em;
    height: 3em;
    
}

#btn {
    width: 100%;
    height: 100%;
    border-radius: 0.5em;
}
